.container {
    background-color: grey;
    width: 100%;
    height: 500px;
    text-align: center;     
    display: flex;
    align-items: center;
    justify-content: center; 
}

.btnstyle {
    background-color: aqua;
    height: 50px;
    width: 100px;
}